
[Desktop Entry]
Name=Coindicator
GenericName=Cryptocoin price ticker
Comment=Keep track of the cryptocoin prices on various exchanges
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=crypto;coin;ticker;price;exchange;
StartupNotify=false
Path=/home/sander/code/coinprice-indicator
Exec=coin
Icon=/home/sander/code/coinprice-indicator/src/coin/resources/logo_248px.png
